doctype 5
html
  head
    title About | freeWeibo
    style
      body {
        min-width: 200px;
        max-width: 700px;
        width: 90%;
        font-size: 20px;
        margin: 80px auto;
      }
      h1 img { width: 100%;}
  body
    h1 关于
      img(src='/images/logo.png')
    p 我们生活在这个世界上，言论自由是上帝赋予我们的，没有人可以随意剥夺。
    p
      a(href='/') 自由的微博
      收集新浪微博中被删除或屏蔽的信息，我们认为这些信息应该让所有人看到。
    p 您可以邮件订阅或在线浏览这些信息。
    p 您有任何建议，请联系
      a(href='mailto:freeweibo.me@gmail.com') 我

