.header
  a.logo(href='/')
    img(src='/images/logo.png')
  .input-append
    input.input-medium(type='text', id='mail', placeholder='电子邮箱')
    button.btn(id='subscribe') 订阅

  span#alert
  script
    $(function() {
      freeWeibo.emailSubscribe('#subscribe');
      })
  a(href='/about') 关于
  .clear
