extends layout

block content
  .container
    include header
    .row-fluid 
      .span8
        #load-spin
        ul.tweets
          each tweet in tweets
            include templates/tweet
        script
          $(function() {
            new FetchTweet('.tweets', '#load-spin');
            })
      .span3
        ul.users
          each user in users
            include templates/user
