extends layout

block content
  .container
    include header
    .row-fluid 
      .span8
        ul.tweets
          each tweet in tweets
            include templates/tweet
        script
          $(function() {
            new freeWeibo.FetchTweets('.tweets');
            })
      .span3
        ul.users
          each user in users
            include templates/user
