extends layout

block content
  .container
    .header
      a= title
      .input-append
        input.input-medium(type="text", placeholder="电子邮箱")
        button.btn(id='subscribe') 订阅
      .clear
    .row-fluit
      .span8
        ul.tweets
      .span3
        //
          .input-append
            input.input-medium(type='text', id='tweeter_name', placeholder='微博昵称')
            button.btn(id='add_tweeter') 加入
        ul.users


  script#tweet-template(type='template')
    !{ tweet_tmpl }
  script#user-template(type='template')
    !{ user_tmpl }

