extends layout

block content
  .wrapper  
    h1= title
    img(src="http://tp2.sinaimg.cn/2216381241/50/40020964802/0")
    .left-pane
      form
        input(type='text')
        input(type='button', value='Search')
      ul.tweets

    .right-pane
      form
        input(type='text', id='tweeter_name')
        input(id='add_tweeter', type='button', value='Add')
      .users
    script#tweet-template(type='template')
      !{ tweet_tmpl }
    script#user-template(type='template')
      !{ user_tmpl }
