doctype 5
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/javascripts/jade.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/client.js')
  body
    block content
