*
  margin: 0
  padding: 0

body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

  .media
    .pull-left
      margin-top: 5px
    .media-body
      .tail
        font-size: 12px
        a
          margin-right: 40px
        .time
          margin-right: 40px

  .header
    margin-bottom: 40px
    border-bottom: 2px solid #bbb
    a
      font-size: 25px
      font-weight: bold
      line-height: 37px
      text-decoration: none
    .clear
      clear: both
      
    .input-append 
      float: right

  .tweets
    margin: 0
    li
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      .media-body
        img
          margin-top: 5px
        

    .filtered
      background-color: #ccc
    .middle_img
      display: none

  .span3
    float: right

