*
  margin: 0
  padding: 0

body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

.wrapper
  width: 80%
  min-width: 300px
  max-width: 900px
  margin: 10px auto

  .left-pane
    width: 70%
    float: left
    .filtered
      background-color: #ccc
    .middle_img
      display: none
  .right-pane
    width: 30%
    float: right

    .users
      a
        margin-right: 10px

