*
  margin: 0
  padding: 0

body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif

  .header

    margin-bottom: 40px
    border-bottom: 2px solid #bbb
    a
      font-size: 25px
      font-weight: bold
      line-height: 37px
      text-decoration: none
    .clear
      clear: both
      
    .input-append 
      float: right
  .tweets
    li
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
    .time
      margin-right: 20px
    .filtered
      background-color: #ccc
    .middle_img
      display: none

