* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
ul.users li {
  display: inline-block;
  width: 200px;
}
body {
  padding: 50px 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body .container {
  min-width: 200px;
  max-width: 940px;
}
body .container width: 90% .rm-user {
  margin-left: 10px;
}
body .media .pull-left {
  margin-top: 5px;
}
body .media .media-body .tail {
  font-size: 12px;
}
body .media .media-body .tail a {
  margin-right: 40px;
}
body .media .media-body .tail .time {
  margin-right: 40px;
}
body .header {
  margin-bottom: 40px;
  border-bottom: 2px solid #bbb;
}
body .header a {
  font-size: 25px;
  font-weight: bold;
  line-height: 37px;
  text-decoration: none;
  margin-right: 10px;
  color: #666;
  display: inline-block;
}
body .header a:hover {
  color: #edd;
}
body .header .logo img {
  height: 70px;
}
body .header .clear {
  clear: both;
}
body .header .input-append {
  margin-top: 25px;
  float: right;
}
body .header .alerter {
  margin-top: 30px;
  margin-right: 10px;
  float: right;
}
body .tweets {
  margin: 0;
  list-style: none;
}
body .tweets p.alert {
  text-align: center;
  margin-top: 20px;
}
body .tweets li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
body .tweets li .media-body img {
  margin-top: 5px;
}
body .tweets .thumb_img:hover {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
body .tweets .middle_img {
  display: none;
}
body .tweets .middle_img:hover {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
body .row-fluid .span3 {
  float: right;
}
/* tablet and mobile phones */
@media only screen and (max-width: 716px) {
  .row-fluid .span8 {
    width: 100%;
  }
  .row-fluid .span3 {
    display: none;
  }
}
@media only screen and (max-width: 350px) {
  body .container .header .alerter {
    margin-top: 0;
    margin-right: 70px;
  }
}
